@charset "UTF-8";

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif;;;; */;
    font-size: 2.25rem;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.bi-thermometer-sun {
    font-size: 33px;
    margin-left: 35px;
}

.nav {
    margin-right: 19px;
}

h3 {
    margin-bottom: 10px;
}

.btn {
    width: 50%;
}

.card {
    display: inline-block;
    margin: 4px;
    margin-top: 24px;
    margin-bottom: 30px;
}

a {
    color: black;
    text-decoration: none;
}

.prodSize {
    margin-left: 0;
}

.prodColor {
    margin-left: 50px;
}

.prodPrice {
    margin-left: 10px;
}

.img-wrap {
    width: 100%;
    position: relative;
}

.image_wrap img {
    width: 100%;
    height: 300px;
    vertical-align: bottom;
}

.image_text {
    position: absolute;
    top: 77%;
    left: 1%;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 73%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border: 1px solid;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: .25rem;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.mb-auto {
    margin-bottom: auto!important;
}

#side_bar {
    height: calc(100vh - 77px);
    font-size: 25px;
}

li button {
	border: none;
	background-color: white;
}

.container main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_cart {
	display: flex;
	width: 100%;
	margin-left: 84px;
    font-size: 44px;
}

button {
    border: none
}

td {
	vertical-align: middle;
}