@charset "UTF-8";

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 650px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.allprivate {
    margin-right: 1%;
    font-size: 20px;
}

.private {
    margin-right: 61%;
    font-size: 16px;
}

.service {
    margin-right: 61%;
    font-size: 16px;
}

.article {
    text-align: left;
}

.terms_box {
    position: relative;
    overflow: auto;
    height: 200px;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #dadada;
    background: #fff;
    box-sizing: border-box;
    scrollbar-base-color: #d9d9d9;
    scrollbar-arrow-color: #8e8e8e;
    scrollbar-3dlight-color: #d9d9d9;
    scrollbar-darkshadow-color: #d9d9d9;
    scrollbar-face-color: #d9d9d9;
    scrollbar-highlight-color: #d9d9d9;
    scrollbar-shadow-color: #d9d9d9;
    scrollbar-track-color: #f2f2f2;
    -webkit-overflow-scrolling: touch;
}